Source: pxcrypt
Section: misc 
Priority: optional
Maintainer: Uwe Steinmann <steinm@debian.org>
Build-Depends: debhelper (>> 4.0.0), pxlib-dev (>= 0.5.0), intltool (>= 0.30), docbook-to-man
Standards-Version: 3.6.1

Package: pxcrypt
Architecture: any
Depends: ${shlibs:Depends}
Description: decrypts and encrypts paradox files
 pxcrypt can decrypt and encrypt various Paradox files with minimum
 modifications to the file header.
